<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Freetype-iphoneos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Freetype-iphonesimulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Freetype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FreetypeIOSUniversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>492079FC169E1A2E00E2D9FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49207A80169E26AC00E2D9FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49207ACD169E288A00E2D9FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49207B0F169E296400E2D9FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
