<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LibTiff-iphoneos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LibTiff-iphonesimulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LibTiff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LibTiffUniversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>493E05B81691F30A0011CE7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4947D8901698734F008971EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4947D8D116987439008971EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4947D90F1698754A008971EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>497D1EA015484C5900530DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
